.image-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-container label {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: #00bfdc;
    border: 1px solid #6edc00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container label i {
    color: #000000;
  }
  